@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --primary-color: #56c777;
  --secondary-color: #bdf1cc;
  --sidebar-background-color: #ffffff;
  --dark: #343a40;
  --gray: #d0d5dd;
  --sidebar-width: 250px;
  --icon-size: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ------------------------------------------ SIDEBAR CSS ---------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

#sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sidebar-background-color);
  z-index: 1;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.sidebar-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.sidebar-nav .nav-item {
  margin: 10px 0;
}

.sidebar-nav .nav-link {
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
  overflow: hidden;
  font-family: "Montserrat";
}

.sidebar-nav .nav-link:hover {
  background-color: var(--primary-color);
  transform: scale(1.05);
}

.sidebar-nav .nav-link i {
  margin-right: 10px;
}

.sidebar-nav .nav-link span {
  display: inline;
  transition: opacity 0.3s ease;
}

.sidebar-nav .nav-link.active {
  background-color: var(--primary-color);
  color: white;
}

@media (min-width: 769px) {
  #sidebar {
    transform: translateX(0);
  }

  .sidebar-nav .nav-link span {
    display: inline;
    transition: opacity 0.3s ease;
  }
}

@media (max-width: 768px) {
  #sidebar {
    transform: translateX(-60%);
  }

  #sidebar .nav-link {
    margin-left: 140px;
    justify-content: center;
  }

  #sidebar .nav-link span {
    display: none;
  }

  #sidebar .nav-link i {
    margin-left: 0;
  }
}
